vault.localhost {
  reverse_proxy vault:8200
}

mailpit.localhost {
  reverse_proxy mailpit:8025
}

minio.localhost {
  reverse_proxy minio:9001
}

s3.localhost {
  reverse_proxy minio:9000
}

keycloak.localhost {
  reverse_proxy keycloak:8080 {
    header_up Host {host}
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Proto {scheme}
  }

  header -Strict-Transport-Security
}
